/* Prevent zoom on mobile */
:root {
  touch-action: pan-x pan-y;
}

* {
  box-sizing: border-box;
}

/* Prevent font scaling in mobile */
* {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

/* Prevent selection */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  touch-action: manipulation;
}

/* Main font */
body {
  font-family: Interop, sans-serif;
}

/* Prevent scrolling */
body {
  overflow: hidden;
}
